.auth {
  min-width: 320px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
}

.auth__logo {
  width: 320px;
  margin: 0 auto;
  display: block;
}