.content {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  max-width: 1148px;
  min-width: 320px;
  width: calc(100% - 2*40px);
  margin: 0 auto;
  padding-top: 40px;
  grid-template-rows: 1fr 4fr 1fr;
}

.header {
  grid-area: header;
  display: flex;
}

.header__logo {
  width: 180px;
  margin: 0 auto;
  display: block;
}

.main {
  grid-area: main;
}

.auth {
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth__logo {
  width: 320px;
  margin: 0 auto;
  display: block;
}

.form__input-container {
  border: 0;
  padding: 0;
  margin: 10px 0;
}

.form__buttons {
  width: 100%;
  border: 0;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.form__error {
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 5px 0;
    text-align: center;
    margin-top: 10px;
    color: orangered;
}

.form {
    min-width: 320px;
}

.spec {
 display: flex;
 flex-direction: column;
 align-items: end;
}

.spec__link {
  margin-top: 10px !important;
}

.options__header {
  font-size: 24px;
}

.wiget-links {
  margin-top: 50px;
}
.footer {
  grid-area: footer;
}

